<div class="container mt-5">
  <div class="row bg-dark text-light">
    <div class="col d-flex justify-content-between align-items-center py-2">
      <h5 class="ps-2">Invoice List</h5>
      <button class="btn btn-sm btn-primary me-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add New Sale</button>
    </div>
  </div>
  <table class="table">
    <thead class="table-light">
    <tr class="py-5">
      <th scope="col">Invoice No</th>
      <th scope="col">Invoice Date</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Invoice Amount</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>23-02-2022</td>
      <td>Thor</td>
      <td>1200</td>
      <td>
        <button class="btn btn-sm btn-primary me-3">Edit</button>
        <button class="btn btn-sm btn-danger">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>02-03-2022</td>
      <td>Loki</td>
      <td>100</td>
      <td>
        <button class="btn btn-sm btn-primary me-3">Edit</button>
        <button class="btn btn-sm btn-danger">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>12-02-2022</td>
      <td>Hawkeye</td>
      <td>50</td>
      <td>
        <button class="btn btn-sm btn-primary me-3">Edit</button>
        <button class="btn btn-sm btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add New Sale</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3 row">
            <label for="exampleInputEmail1" class="form-label">Invoice No</label>
            <div class="">
              <input type="text" class="form-control col-sm-6"
                     id="exampleInputEmail1" placeholder="Invoice No" autocomplete="off">
<!--              <div *ngIf="submitted && this.inventoryFormData.productName?.errors?.required" class="invalid-feedback">-->
<!--                This field is required-->
<!--              </div>-->
            </div>
          </div>
          <div class="mb-3 row">
            <label  class="form-label">Customer Name</label>
            <div class="">
              <ng-select [items]="cars"
                         bindLabel="name"
                         bindValue="id"
                         placeholder="Select Customer"
                         >
              </ng-select>
<!--              <input type="text" class="form-control"-->
<!--                     id="exampleInputPassword1" placeholder="Select Customer" autocomplete="off">-->
<!--              <div *ngIf="submitted && this.inventoryFormData.salePrice?.errors?.required" class="invalid-feedback">-->
<!--                This field is required-->
<!--              </div>-->
            </div>
          </div>
          <div class="mb-3 row">
            <label class="form-label">Product</label>
            <div class="">
              <ng-select [items]="cars"
                         bindLabel="name"
                         bindValue="id"
                         placeholder="Select Product">
              </ng-select>
              <!--              <div *ngIf="submitted && this.inventoryFormData.salePrice?.errors?.required" class="invalid-feedback">-->
              <!--                This field is required-->
              <!--              </div>-->
            </div>
          </div>
          <div class="mb-3 row">
            <label class="form-label">Sale Price</label>
            <div class="">
              <input type="text" class="form-control col-sm-6"
                      placeholder="Sale Price" autocomplete="off">
              <!--              <div *ngIf="submitted && this.inventoryFormData.productName?.errors?.required" class="invalid-feedback">-->
              <!--                This field is required-->
              <!--              </div>-->
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
