<div class="container mt-5">
  <div class="row bg-dark text-light">
    <div class="col d-flex justify-content-between align-items-center py-2">
      <h5 class="ps-2">Customer</h5>
      <button class="btn btn-sm btn-primary me-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Customer</button>
    </div>
  </div>
  <table class="table">
    <thead class="table-light">
    <tr class="py-5">
      <th scope="col">Customer Name</th>
      <th scope="col">Phone no</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Thor</td>
      <td>7482898484</td>
      <td>thor@asgardian.com</td>
      <td>Asgard Kingdom, Asgard</td>
      <td>
        <button class="btn btn-sm btn-primary me-3">Edit</button>
        <button class="btn btn-sm btn-danger">Delete</button>
      </td>
    </tr>
    <tr>
      <td>Loki</td>
      <td>8694560932</td>
      <td>loki@asgardian.com</td>
      <td>Asgard Kingdom, Asgard</td>
      <td>
        <button class="btn btn-sm btn-primary me-3">Edit</button>
        <button class="btn btn-sm btn-danger">Delete</button>
      </td>
    </tr>
    <tr>
      <td>Hawkeye</td>
      <td>7482898484</td>
      <td>hawkeye@avenger.com</td>
      <td>Avenger tower, New York</td>
      <td>
        <button class="btn btn-sm btn-primary me-3">Edit</button>
        <button class="btn btn-sm btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customerForm">
          <div class="mb-3 row">
            <label class="form-label">Customer Name</label>
            <div>
              <input type="text" class="form-control" formControlName="customer_name"
                     placeholder="Enter customer name" autocomplete="off">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="form-label">Phone Number</label>
            <div>
              <input type="text" class="form-control" (keypress)="onlyNumberKey($event)"
                     formControlName="ph_no" placeholder="Enter phone number" autocomplete="off">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="form-label">Email</label>
            <div>
              <input type="email" class="form-control" formControlName="email"
                      placeholder="Enter email" autocomplete="off">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="form-label">Address</label>
            <div>
              <input type="text" class="form-control" formControlName="address"
                     placeholder="Enter address" autocomplete="off">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
